<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Template</title>
  </head>
  <body>
    <nav>
        <a href="index.html">Home</a>
        <a href="contact.html">Contact</a>
    </nav>
      <h1>Heading Level 1</h1> 
          <p>Line break test</p>
          <hr>
          <p>John Doe
          <br>111 <em>E. High</em>
          <br>city, state, zip
         </p>
    <footer>
       <a href="https://test.com">My Site</a>
       <br>
       <a href="mailto:test@test.com">My Email</a>
     </footer>
  </body>
</html>